Repository Azure/pcs-remote-monitoring-webui, pull requests merged in 2018-03, with the labels that each got.

#877 Aggrid
  package.json
  src/app.config.js
  src/assets/icons/disabled.svg
  src/assets/icons/physicalDevice.svg
  src/assets/icons/simulatedDevice.svg
  src/components/pages/devices/devices.js
  src/components/pages/devices/devices.scss
  src/components/pages/devices/devicesGrid/devicesConfig.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/pages/devices/devicesGrid/devicesGrid.scss
  src/components/shared/cellRenderers/cellRenderer.scss
  src/components/shared/cellRenderers/connectionStatusRenderer/connectionStatusRenderer.js
  src/components/shared/cellRenderers/index.js
  src/components/shared/cellRenderers/isSimulatedRenderer/isSimulatedRenderer.js
  src/components/shared/index.js
  src/components/shared/pcsGrid/pcsGrid.js
  src/components/shared/pcsGrid/pcsGrid.scss
  src/components/shared/pcsGrid/pcsGridConfig.js
  src/services/httpClient.js
  src/services/iotHubManagerService.js
  src/services/models/iotHubManagerModels.js
  src/utilities/svgs.js
Labels: Devices, enhancement

#878 Fetch and error reducers
  package.json
  public/locales/en/translations.json
  src/app.config.js
  src/components/pages/devices/devices.container.js
  src/components/pages/devices/devices.js
  src/components/pages/devices/devices.scss
  src/components/pages/devices/devicesGrid/devicesConfig.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/shared/cellRenderers/cellRenderer.scss
  src/components/shared/cellRenderers/connectionStatusRenderer/connectionStatusRenderer.js
  src/components/shared/cellRenderers/isSimulatedRenderer/isSimulatedRenderer.js
  src/components/shared/pcsGrid/pcsGrid.js
  src/components/shared/pcsGrid/pcsGrid.scss
  src/services/httpClient.js
  src/services/models/iotHubManagerModels.js
  src/store/reducers/appReducer.js
  src/store/reducers/devicesReducer.js
  src/store/utilities.js
  src/utilities/methods.js
Labels: enhancement

#879 Add rules page
  package.json
  public/locales/en/translations.json
  src/app.config.js
  src/assets/icons/critical.svg
  src/assets/icons/info.svg
  src/assets/icons/refresh.svg
  src/assets/icons/ruleDisabled.svg
  src/assets/icons/ruleEnabled.svg
  src/assets/icons/warning.svg
  src/components/app/navigation/navigation.js
  src/components/pages/devices/devices.container.js
  src/components/pages/devices/devices.js
  src/components/pages/devices/devicesGrid/devicesConfig.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/pages/rules/rules.container.js
  src/components/pages/rules/rules.js
  src/components/pages/rules/rules.scss
  src/components/pages/rules/rulesGrid/rulesGrid.js
  src/components/pages/rules/rulesGrid/rulesGridConfig.js
  src/components/shared/cellRenderers/cellRenderer.scss
  src/components/shared/cellRenderers/connectionStatusRenderer/connectionStatusRenderer.js
  src/components/shared/cellRenderers/index.js
  src/components/shared/cellRenderers/isSimulatedRenderer/isSimulatedRenderer.js
  src/components/shared/cellRenderers/ruleStatusRenderer/ruleStatusRenderer.js
  src/components/shared/cellRenderers/severityRenderer/severityRenderer.js
  src/components/shared/cellRenderers/severityRenderer/severityRenderer.scss
  src/components/shared/forms/styles/btn.scss
  src/components/shared/index.js
  src/components/shared/refreshBar/refreshBar.js
  src/components/shared/refreshBar/refreshBar.scss
  src/services/configService.js
  src/services/httpClient.test.js
  src/services/index.js
  src/services/iotHubManagerService.js
  src/services/models/ajaxModels.js
  src/services/models/configModels.js
  src/services/models/index.js
  src/services/models/telemetryModels.js
  src/services/telemetryService.js
  src/store/reducers/appReducer.js
  src/store/reducers/devicesReducer.js
  src/store/reducers/rulesReducer.js
  src/store/rootEpic.js
  src/store/rootReducer.js
  src/styles/_themes.scss
  src/styles/_variables.scss
  src/utilities/svgs.js
Labels: Rules & Actions, enhancement

#881 Translate devices and rules
  jsconfig.json
  public/locales/en/translations.json
  src/components/app/app.test.js
  src/components/mocks/mockApp.js
  src/components/pages/dashboard/dashboard.scss
  src/components/pages/devices/devices.js
  src/components/pages/devices/devices.scss
  src/components/pages/devices/devices.test.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/pages/devices/devicesGrid/devicesGrid.scss
  src/components/pages/maintenance/maintenance.scss
  src/components/pages/pageNotFound/pageNotFound.scss
  src/components/pages/rules/rules.js
  src/components/pages/rules/rules.scss
  src/components/pages/rules/rules.test.js
  src/components/pages/rules/rulesGrid/rulesGrid.js
  src/components/pages/rules/rulesGrid/rulesGridConfig.js
  src/components/shared/cellRenderers/cellRenderer.scss
  src/components/shared/cellRenderers/countRenderer/countRenderer.js
  src/components/shared/cellRenderers/index.js
  src/components/shared/cellRenderers/lastTriggerRenderer/lastTriggerRenderer.js
  src/components/shared/cellRenderers/severityRenderer/severityRenderer.js
  src/components/shared/pcsGrid/pcsGrid.scss
  src/components/shared/refreshBar/refreshBar.js
  src/components/shared/refreshBar/refreshBar.scss
  src/services/models/ajaxModels.js
  src/styles/_themes.scss
  src/styles/_variables.scss
Labels: enhancement

#884 Add flyout
  src/assets/icons/x.svg
  src/components/pages/devices/devices.container.js
  src/components/pages/devices/devices.js
  src/components/pages/devices/flyouts/deviceConfig.js
  src/components/pages/devices/flyouts/deviceDelete.js
  src/components/pages/devices/flyouts/deviceDetails.js
  src/components/pages/devices/flyouts/deviceMethods.js
  src/components/pages/devices/flyouts/deviceNew.js
  src/components/pages/devices/flyouts/deviceTags.js
  src/components/pages/devices/flyouts/index.js
  src/components/pages/rules/flyouts/index.js
  src/components/pages/rules/flyouts/ruleDetails.js
  src/components/pages/rules/flyouts/ruleNew.js
  src/components/pages/rules/flyouts/ruleStatus.js
  src/components/pages/rules/rules.container.js
  src/components/pages/rules/rules.js
  src/components/shared/flyout/flyout.js
  src/components/shared/flyout/flyout.scss
  src/components/shared/flyout/flyoutCloseBtn.js
  src/components/shared/flyout/flyoutContent.js
  src/components/shared/flyout/flyoutHeader.js
  src/components/shared/flyout/flyoutTitle.js
  src/components/shared/flyout/index.js
  src/components/shared/index.js
  src/components/shared/pcsGrid/pcsGrid.js
  src/components/shared/pcsGrid/pcsGrid.scss
  src/store/reducers/devicesReducer.js
  src/store/reducers/rulesReducer.js
  src/styles/_themes.scss
Labels: Devices, Rules & Actions, enhancement

#885 Add route scaffolding for maintenance page and app breadcrumbs
  src/assets/icons/chevronRight.svg
  src/assets/icons/settings.svg
  src/components/app/app.js
  src/components/app/app.scss
  src/components/app/flyouts/index.js
  src/components/app/flyouts/settings.js
  src/components/app/header/breadcrumbs.js
  src/components/app/header/header.js
  src/components/app/header/header.scss
  src/components/pages/devices/devices.js
  src/components/pages/maintenance/jobDetails/jobDetails.js
  src/components/pages/maintenance/maintenance.js
  src/components/pages/maintenance/maintenance.scss
  src/components/pages/maintenance/ruleDetails/ruleDetails.js
  src/components/pages/maintenance/summary/jobs.js
  src/components/pages/maintenance/summary/notifications.js
  src/components/pages/maintenance/summary/summary.js
  src/components/shared/pcsGrid/pcsGrid.scss
  src/utilities/svgs.js
Labels: Maintenance, enhancement

#886 Add dashboard grid and dashboard alarms panel
  src/assets/icons/ellipsis.svg
  src/components/pages/dashboard/dashboard.js
  src/components/pages/dashboard/dashboard.scss
  src/components/pages/dashboard/grid/cell.js
  src/components/pages/dashboard/grid/grid.js
  src/components/pages/dashboard/grid/grid.scss
  src/components/pages/dashboard/grid/index.js
  src/components/pages/dashboard/panel/index.js
  src/components/pages/dashboard/panel/panel.js
  src/components/pages/dashboard/panel/panel.scss
  src/components/pages/dashboard/panel/panelContent.js
  src/components/pages/dashboard/panel/panelHeader.js
  src/components/pages/dashboard/panel/panelOverlay.js
  src/components/pages/dashboard/panels/alarms/alarmsPanel.container.js
  src/components/pages/dashboard/panels/alarms/alarmsPanel.js
  src/components/pages/dashboard/panels/alarms/alarmsPanel.scss
  src/components/pages/dashboard/panels/alarms/index.js
  src/components/pages/dashboard/panels/index.js
  src/components/pages/dashboard/panels/kpis.js
  src/components/pages/dashboard/panels/map.js
  src/components/pages/dashboard/panels/telemetry.js
  src/components/pages/devices/devices.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/pages/devices/devicesGrid/devicesGridConfig.js
  src/components/pages/devices/devicesGrid/index.js
  src/components/pages/rules/rules.js
  src/components/pages/rules/rulesGrid/index.js
  src/components/pages/rules/rulesGrid/rulesGrid.js
  src/services/models/configModels.js
  src/services/models/iotHubManagerModels.js
  src/services/models/telemetryModels.js
  src/services/telemetryService.js
  src/store/reducers/alarmsReducer.js
  src/store/reducers/rulesReducer.js
  src/store/rootEpic.js
  src/store/rootReducer.js
  src/utilities/svgs.js
Labels: Dashboard, enhancement

#888 Telemetry panel
  package.json
  src/components/pages/dashboard/panels/telemetry.js
  src/components/pages/dashboard/panels/telemetry/index.js
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.js
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.scss
  src/services/models/telemetryModels.js
  src/services/telemetryService.js
Labels: Dashboard, GA

#893 Kpi panel
  package.json
  src/components/pages/dashboard/dashboard.js
  src/components/pages/dashboard/grid/grid.scss
  src/components/pages/dashboard/panel/panel.scss
  src/components/pages/dashboard/panel/panelOverlay.js
  src/components/pages/dashboard/panels/kpis.js
  src/components/pages/dashboard/panels/kpis/index.js
  src/components/pages/dashboard/panels/kpis/kpisPanel.container.js
  src/components/pages/dashboard/panels/kpis/kpisPanel.js
  src/components/pages/dashboard/panels/kpis/kpisPanel.scss
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.js
  src/components/shared/flyout/styles/flyout.scss
  src/services/models/telemetryModels.js
Labels: Dashboard

#898 Remove svg ids
  src/assets/icons/carat.svg
  src/assets/icons/chevron.svg
  src/assets/icons/chevronRight.svg
  src/assets/icons/colon.svg
  src/assets/icons/contoso.svg
  src/assets/icons/deviceChiller.svg
  src/assets/icons/deviceElevator.svg
  src/assets/icons/deviceEngine.svg
  src/assets/icons/deviceIcon.svg
  src/assets/icons/devicePrototyping.svg
  src/assets/icons/deviceTruck.svg
  src/assets/icons/disabled.svg
  src/assets/icons/ellipsis.svg
  src/assets/icons/errorAsterisk.svg
  src/assets/icons/hamburger.svg
  src/assets/icons/info.svg
  src/assets/icons/infoBubble.svg
  src/assets/icons/linkTo.svg
  src/assets/icons/physicalDevice.svg
  src/assets/icons/plus.svg
  src/assets/icons/profile.svg
  src/assets/icons/radioSelected.svg
  src/assets/icons/radioUnselected.svg
  src/assets/icons/refresh.svg
  src/assets/icons/ruleDisabled.svg
  src/assets/icons/ruleEnabled.svg
  src/assets/icons/settings.svg
  src/assets/icons/simulatedDevice.svg
  src/assets/icons/startSimulation.svg
  src/assets/icons/stopSimulation.svg
  src/assets/icons/tabDashboard.svg
  src/assets/icons/tabDevices.svg
  src/assets/icons/tabMaintenance.svg
  src/assets/icons/tabRules.svg
  src/assets/icons/trash.svg
  src/assets/icons/warning.svg
  src/assets/icons/x.svg
Labels: GA, enhancement

#899 Flyout section
  public/locales/en/translations.json
  src/assets/icons/chevron.svg
  src/components/app/app.container.js
  src/components/app/app.js
  src/components/app/flyouts/index.js
  src/components/app/flyouts/settings.js
  src/components/app/flyouts/settings.scss
  src/components/app/flyouts/settingsContainer.js
  src/components/shared/flyout/flyout.js
  src/components/shared/flyout/flyout.scss
  src/components/shared/flyout/flyoutContent.js
  src/components/shared/flyout/flyoutHeader.js
  src/components/shared/flyout/flyoutSection/accordionProvider.js
  src/components/shared/flyout/flyoutSection/flyoutSection.js
  src/components/shared/flyout/flyoutSection/flyoutSection.scss
  src/components/shared/flyout/flyoutSection/flyoutSectionContent.js
  src/components/shared/flyout/flyoutSection/flyoutSectionHeader.js
  src/components/shared/flyout/flyoutSection/index.js
  src/components/shared/flyout/flyoutTitle.js
  src/components/shared/flyout/index.js
  src/store/reducers/appReducer.js
Labels: enhancement

#900 Refactor the telemetry chart so it is easier to reuse
  src/components/app/header/header.js
  src/components/pages/dashboard/dashboard.js
  src/components/pages/dashboard/panels/kpis/kpisPanel.js
  src/components/pages/dashboard/panels/telemetry/index.js
  src/components/pages/dashboard/panels/telemetry/telemetryChart.js
  src/components/pages/dashboard/panels/telemetry/telemetryChart.scss
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.js
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.scss
Labels: GA, enhancement

#901 Handler errors on the dashboard panels
  src/components/pages/dashboard/dashboard.js
  src/components/pages/dashboard/panel/index.js
  src/components/pages/dashboard/panel/panel.scss
  src/components/pages/dashboard/panel/panelError.js
  src/components/pages/dashboard/panels/alarms/alarmsPanel.js
  src/components/pages/dashboard/panels/kpis/kpisPanel.js
  src/components/pages/dashboard/panels/map.js
  src/components/pages/dashboard/panels/overview/overviewPanel.js
  src/components/pages/dashboard/panels/telemetry/telemetryPanel.js
  src/components/shared/forms/styles/errorMsg.scss
Labels: Dashboard, GA, enhancement

#902 Add context menu container
  public/locales/en/translations.json
  src/components/app/app.js
  src/components/pages/dashboard/dashboard.js
  src/components/pages/devices/devices.js
  src/components/pages/devices/devicesGrid/devicesGrid.js
  src/components/pages/index.js
  src/components/pages/maintenance/jobDetails/jobDetails.js
  src/components/pages/maintenance/maintenance.js
  src/components/pages/maintenance/maintenance.scss
  src/components/pages/maintenance/ruleDetails/ruleDetails.js
  src/components/pages/maintenance/summary/summary.js
  src/components/pages/pageNotFound/pageNotFound.container.js
  src/components/pages/pageNotFound/pageNotFound.js
  src/components/pages/rules/rules.js
  src/components/pages/rules/rulesGrid/rulesGrid.js
  src/components/shared/contextMenu/contextMenu.js
  src/components/shared/contextMenu/contextMenu.scss
  src/components/shared/index.js
  src/components/shared/pageContent/pageContent.js
  src/components/shared/pageContent/pageContent.scss
Labels: GA, enhancement

#887 Docker container excessively privileged running root user
  scripts/docker/Dockerfile
  scripts/docker/content/nginx.conf
  scripts/docker/content/run.sh
  scripts/docker/run
  scripts/docker/run.cmd
Labels: GA
